
body {
  margin: 0px;
}

#header {
  vertical-align: middle;
  cursor: pointer;
  background-image: url(media/abi-dalzim-cropped.jpg);
  height: 40px;
  background-size: auto 40px;
}

h1 {
  margin: 20px;
  cursor: pointer;
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

#main {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  width: 480px;
  margin: auto;
}

#set {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

#panel {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#control {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  vertical-align: bottom;
}

#start, #total, #progress {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  vertical-align: center;
}

#start {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
}

#total, #progress {
  text-align: right;
}

#timer {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  font-size: 60px;
  vertical-align: bottom;
  text-align: right;
}

#detail {
  box-sizing: border-box;
  width: 70%;
  height: 300px;
  object-fit: contain;
}

#remarks {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 300px;
  margin: 0px;
  padding-left: 25px;
  font-family: Helvetica, Arial, sans-serif;
  overflow: scroll;
}

