
body {
  margin: 0px;
}

h1 {
  margin: 20px;
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

#slogan {
  cursor: pointer;
}

#main {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  width: 480px;
  margin: auto;
}

/**********/
/* editor */
/**********/

#set {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

/**********/
/* panel1 */
/**********/

#panel1 {
  font-size: 20px;
}

#control, #total, #progress {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  vertical-align: center;
  font-family: inherit;
  font-size: inherit;
}

#total, #progress {
  text-align: right;
}

/**********/
/* panel2 */
/**********/

#panel2 {
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  margin-bottom: 10px;
  margin-top: 10px;
}

#panel2 > ol {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
}

#timer {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  font-size: 60px;
  vertical-align: bottom;
  text-align: right;
}

/**********/
/* panel3 */
/**********/

#detail {
  box-sizing: border-box;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

#remarks {
  display: inline-block;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  overflow: scroll;
}

